.git
.env*
node_modules
.next
out
dist
coverage
*.tsbuildinfo
*.log
*.db*
*.sqlite*
.venv
__pycache__
.pytest_cache
.ruff_cache
.mypy_cache
.coverage*
htmlcov
.DS_Store
.idea
.vscode

**/.env*
**/__pycache__
**/*.pyc
**/*.db*
**/*.sqlite*
