.git
.env*
.venv
venv
__pycache__
*.py[cod]
*.db*
*.sqlite*
.pytest_cache
.ruff_cache
.mypy_cache
.coverage*
htmlcov
coverage
tests
requirements-dev.*
*.log
.DS_Store
.idea
.vscode

**/.env*
**/__pycache__
**/*.pyc
**/*.db*
**/*.sqlite*
